<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Konwerter.Properties.Settings.Database" connectionString="Data Source=tcp:unitsconverter.database.windows.net,1433;Initial Catalog=UnitsConverter;Persist Security Info=True;User ID=Student;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>