<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <clear/>
    <add name="conStringDB"
         connectionString="Data Source=DESKTOP-CU822MP\MAILSENDER;Initial Catalog=jipp;Persist Security Info=True;User ID=mailsenderadmin;PASSWORD=kusinski"/>
  </connectionStrings>

  <appSettings>
    <add key="Database" value="AzureStorage"/>
    <add key="StorageName" value="wwsi" />
    <add key="StorageKey" value="mVDN4VYhoG2olhNa4bBiR2Im46RAn1C23pgvXZBQ3Wh/ebmOfOOp0L9LORGYzJLg80XpkqrVxp4f4TBSRZICKg==" />
  </appSettings>
  
</configuration>