@model UnitConverter.Logic.UnitConverters.ConvertersService
@{
    ViewBag.Title = "Home Page";
}

<h1>Konwerter jednostek</h1>

@foreach (string converterType in Model.GetConverterTypes())
{
    using (Ajax.BeginForm("Convert",
            new { converterType = converterType },
            new AjaxOptions() { UpdateTargetId = converterType + "result" }))
        {
            <div> @converterType </div>
            @Html.DropDownList("unitFrom", Model.GetConvertersOfType(converterType).Select(c => new SelectListItem() { Text = c.Unit, Value = c.GetType().AssemblyQualifiedName }))
            @Html.TextBox("valueToConvert")
            @Html.DropDownList("unitTo", Model.GetConvertersOfType(converterType).Select(c => new SelectListItem() { Text = c.Unit, Value = c.GetType().AssemblyQualifiedName }))
            <button type="submit"> Konwertuj </button>
            <label id="@(converterType + "result")"></label>
        }
}