<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="Converter" connectionString="data source=&quot;nt-27.wwsi.edu.pl, 1601&quot;;initial catalog=FIRMA_509_09;persist security info=True;user Id=Z509_09;password=Z509_09;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <appSettings>
    <add key="StatisticsRepository" value="AzureStorage1"/>
    <add key="StorageName" value="wwsi"/>
    <add key="StorageKey" value="mVDN4VYhoG2olhNa4bBiR2Im46RAn1C23pgvXZBQ3Wh/ebmOfOOp0L9LORGYzJLg80XpkqrVxp4f4TBSRZICKg=="/>
  </appSettings>
</configuration>