<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="Autofac" version="4.9.1" targetFramework="net461" />
  <package Id="Autofac.Extensions.DependencyInjection" version="5.0.1" targetFramework="net461" />
  <package Id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package Id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net461" />
  <package Id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net461" />
  <package Id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net461" />
  <package Id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package Id="WindowsAzure.Storage" version="9.3.3" targetFramework="net461" />
</packages>