@{
    ViewBag.Title = "O witrynie";
}
<h2>@ViewBag.Title.</h2>
<h3>Opis funkcjonalności</h3>

<p>Strona powstała w celu uproszczenia życia. Znajdziecie na niej konwertery najpopularniejszych jednostek miary.</p>
