@model IEnumerable<UnitConversion.UnitConverter>
@{
    ViewBag.Title = "Home Page";
}
<div style="position: fixed">
    <h1>Konwerter jednostek</h1>

    <div style="position:relative; float:left">
        <ul style="margin-right: 30px">
            @foreach (UnitConversion.UnitConverter converter in Model)
            {
                <li>
                    @Ajax.ActionLink(converter.Name, "Body", new { converterType = converter.Name }, new AjaxOptions() { UpdateTargetId = "converterBody", InsertionMode = InsertionMode.Replace })

                </li>
            }
        </ul>
    </div>
    <div id="converterBody" style="position: relative;float: left"></div>
</div>





