<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="StatisticsRepository" value="AzureStorage"/>
    <add key="StorageName" value="wwsi" />
    <add key="StorageKey" value="mVDN4VYhoG2olhNa4bBiR2Im46RAn1C23pgvXZBQ3Wh/ebmOfOOp0L9LORGYzJLg80XpkqrVxp4f4TBSRZICKg==" />
  </appSettings>


</configuration>