@{
    ViewBag.Title = "Kontakt";
}
<body style='background: #FFD4D4D4'>
    <h2>Strona kontaktowa</h2>
    <h3>Informacje o kontaktach do firmy</h3>


    <address>
        <strong>Wsparcie techniczne:</strong>   <a href="mailto:WsparcieTechniczne@example.com">WsparcieTechniczne@example.com</a><br />
    </address>
 </body>