@{
    ViewBag.Title = "Informacje O";
}
<body style='background: #FFD4D4D4'>
    <h2>Informacje o aplikacji</h2>
    <h3> Najważniejsze informacje o aplikacji</h3>

   <p> Główne informacje jakie muszą być przekazane o używaniu tej aplikacji.</p>
</body>