@{
    ViewBag.Title = "Kontakt";
}

    <h2>Twoje informacje kontaktowe</h2>
    <h3>Warszawa, ul.Krakowska 123, 02-123</h3>
    <h3>Tel: 547-258-253</h3>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
