<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="wwsi" connectionString="data source=NT-27.wwsi.edu.pl,1601;initial catalog=NT-27.wwsi.edu.pl,1601;initial catalog=KASETY_502_17;persist security info=True;user id=Z502_17;password=Z502_17;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="StatisticsRepository" value="AzureStorage1" />
    <add key="StorageName" value="jiip5" />
    <add key="StorageKey" value="O3UVwdsZb+M0HwxKtfI5mtPuMK8EJMpA5fdEO0z5bapyvi17k4WXa22YWzCngnuN6B/PPeFID7rCIMHbR6KF5g==" />
  </appSettings>
</configuration>

