<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="Autofac" version="4.9.4" targetFramework="net46" />
  <package Id="EntityFramework" version="6.4.0" targetFramework="net461" />
  <package Id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net46" />
  <package Id="Newtonsoft.Json" version="10.0.2" targetFramework="net46" />
  <package Id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net461" />
  <package Id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package Id="System.Security.Permissions" version="4.7.0" targetFramework="net461" />
  <package Id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
  <package Id="WindowsAzure.Storage" version="9.3.3" targetFramework="net46" />
</packages>