@{
    ViewBag.Title = "Dane kontaktowe";
}
<h2>@ViewBag.Title.</h2>

<address>
    Dawid Juszczak<br />
    Warszawa<br />
</address>

<address>
    <strong>Author:</strong>
    <div>
        <a href="mailto:d.juszczak@poczta.wsi.edu.pl">d.juszczak@poczta.wsi.edu.pl</a><br />
        <a href="mailto:dawidjuszczak@gmail.com">dawidjuszczak@gmail.com</a>
    </div>
</address>